mat-card{
    background: beige;
    border: 3px solid #ccc;
    border-radius: 0px;
    margin: auto;
    width: 100%;
    padding: 0px;
    margin-top: 10px;
}
mat-card-header{
    background: #3c763d;
    color: white;
}
mat-card-content div{
    margin-left: 10px;
    font-size: 20px;
}
a{
    color: red;
    text-decoration: none;
    /* padding: 10px; */
    /* margin: 10px; */
    /* background: rebeccapurple; */
    font-size: 20px;
    /* text-align: right; */
    float: right;
}
#homePage img{
    height: 30px;
    margin: 10px;
}
#homePage{
    cursor: pointer;
    text-decoration: none;
}
/* .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
}
.ng-invalid[required], .ng-invalid.required{
    border-left: 5px solid red;
} */